<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member-create</title>
    <style>
        body {
          background-color : lightsteelblue;
        }
    </style>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<div style="text-align: center">
    <h1>회원가입</h1>
    <div>
        <form action="/member/create" method="post">
            <label for="name"></label>이름
            <input type="text" id="name" name="name"><br>
            <label for="email"></label>이메일
            <input type="text" id="email" name="email"><br>
            <label for="password"></label>비밀번호
            <input type="text" id="password" name="password"><br>
            <button type="submit">가입</button>
        </form>
    </div>
</div>
</body>
</html>